{% from 'components/tag/macro.jinja' import tag %}

{% set show_check_in = appointment.status.is_confirmed %}

<div data-event-status-container="{{ appointment.id }}" {% if show_check_in %}data-module="app-check-in"{% endif %}>
  <span data-hide-on-submit>{{ tag({
    "text": appointment.status.text,
    "classes": appointment.status.classes
  })}}</span>

  {% if show_check_in %}
  <span data-show-on-submit hidden>{{ tag({
    "text": "Checked in",
    "classes": "app-nowrap"
  })}}</span>
  {% endif %}

  {% if show_check_in %}
      <form action="{{ url('record_a_mammogram:check_in', kwargs={'id': appointment.id}) }}" <form method="post" novalidate>
      <p class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-0">
        <button class="app-button--link">
          Check in
        </button>
      </p>
      {{ csrf_input }}
      </form>
  {% endif %}
</div>
