pre-commit 3.6.0
python 3.13.2

# TODO: can we switch all these docker scripts to github actions instead? Or at least something that
# will be maintained by Dependabot?

# docker/ghcr.io/anchore/grype v0.87.0@sha256:7638bec6a2a2b570588bb96e5e9632ef37f5556e92d126eb1a9542a76f71471c # SEE: https://github.com/anchore/grype/pkgs/container/grype
# docker/ghcr.io/gitleaks/gitleaks v8.18.0@sha256:fd2b5cab12b563d2cc538b14631764a1c25577780e3b7dba71657d58da45d9d9 # SEE: https://github.com/gitleaks/gitleaks/pkgs/container/gitleaks
