{% from 'header/macro.jinja' import header %}
{% set assetPath = STATIC_URL ~ "/assets" %}
{% extends "template.jinja" %}

{% block head %}
  <link rel="stylesheet" href="{{ static('css/main.css' )}}">
  <script type="module" src="{{ static('js/bundle.js' )}}"></script>
{% endblock %}

{% block header %}
  {{ header({
    "showNav": "true",
    "service": {
      "name": "Manage breast screening"
    },
    "primaryLinks": [
      {
        "url": "#",
        "label": "Home",
        "current": true if navActive == "home"
      },
      {
        "url": "/clinics/",
        "label": "Clinics",
        'current': true if navActive == "clinics"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% block messages %}
        {#- TODO: show messages from django.contrib.messages -#}
      {% endblock messages %}
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      {% block pageNavigation %}
      {% endblock pageNavigation %}
    </div>
  </div>

  {% block pageContent %}
  {% endblock pageContent %}
{% endblock content %}
