{% extends 'layout-app.html' %}
{% from 'radios/macro.jinja' import radios %}
{% from 'button/macro.jinja' import button %}
{% from 'fieldset/macro.jinja' import fieldset %}
{% from 'back-link/macro.jinja' import backLink %}
{% from 'error-summary/macro.jinja' import errorSummary %}

{% block beforeContent %}
{# Using javascript temporarily - this should be replaced with proper URLs #}
{{ backLink({
  "href": "javascript:history.back()",
  "text": "Go back"
}) }}
{% endblock beforeContent %}

{% block messages %}
    {% if form.errors %}
      {% set ns = namespace(errors=[]) %}

      {% for field, messages in form.errors | items %}
        {% set ns.errors = ns.errors + [{"text": ",".join(messages), "href": "#" ~ messages.field_id}] %}
      {% endfor %}

      {{ errorSummary({
        "titleText": "There is a problem",
        "errorList": ns.errors
      }) }}
    {% endif %}
{% endblock %}

{% block pageContent %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

  {% block heading %}
  <h1 class="nhsuk-heading-l">
    {% if caption %}
      <span class="nhsuk-caption-l">{{ caption }}</span>
    {% endif %}
    {{title}}
  </h1>
  {% endblock heading %}

  {% block stepContent %}{% endblock %}

  {% if form %}
  <form action="{{request.path}}" method="POST">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {% block form %}{% endblock form %}

          {% if form.decision %}
            {% if form.decision.errors %}
              {% set errorMessage = {"text": form.decision.errors | first} %}
            {% endif %}

            {{ radios({
              "name": form.decision.html_name,
              "idPrefix": form.decision.auto_id,
              "fieldset": {
                "legend": {
                  "text": decision_legend,
                  "classes": "nhsuk-fieldset__legend--m",
                  "isPageHeading": false
                }
              },
              "errorMessage": errorMessage,
              "hint": {
                "html": decision_hint|e
              } if decision_hint,
              "items": [
                {
                  "id": form.decision.auto_id,
                  "value": form.decision.field.choices[0][0],
                  "text": form.decision[0].choice_label,
                  "checked": form.decision.value() == form.decision.field.choices[0][0]
                },
                {
                  "value": form.decision.field.choices[1][0],
                  "text": form.decision[1].choice_label,
                  "checked": form.decision.value() == form.decision.field.choices[1][0]
                }
              ]
            }) }}
          {% endif %}

          {{ button({
            "text": "Continue"
          }) }}

          {{csrf_input}}
        </div>
    </div>
  </form>
  {% endif %}

  {% if cannot_continue_link %}
    <p><a class="nhsuk-link nhsuk-link--no-visited-state" href="{{ cannot_continue_link.href }}">{{ cannot_continue_link.text }}</a></p>
  {% endif %}
  </div>

</div>
{% endblock pageContent %}
