{% extends 'layout-app.html' %}
{% from 'components/radios/macro.jinja' import radios %}
{% from 'components/button/macro.jinja' import button %}
{% from 'components/fieldset/macro.jinja' import fieldset %}
{% from 'components/back-link/macro.jinja' import backLink %}
{% from 'components/error-summary/macro.jinja' import errorSummary %}

{% block beforeContent %}
{#- Using javascript temporarily - this should be replaced with proper URLs -#}
{{ backLink({
  "href": "javascript:history.back()",
  "text": "Go back"
}) }}
{% endblock beforeContent %}

{% block messages %}
    {% if form.errors %}
      {% set ns = namespace(errors=[]) %}

      {% for field, messages in form.errors | items %}
        {% set ns.errors = ns.errors + [{"text": ",".join(messages), "href": "#" ~ field ~ "-error"}] %}
      {% endfor %}

      {{ errorSummary({
        "titleText": "There is a problem",
        "errorList": ns.errors
      }) }}
    {% endif %}
{% endblock %}

{% block pageContent %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
  <h1>{{title}}</h1>

  {% if form %}
  <form action="{{request.path}}" method="POST">
  {% block form %}{% endblock form %}

  {% if form.decision %}
    {% if form.decision.errors %}
      {% set errorMessage = {"text": form.decision.errors | first} %}
    {% endif %}

    {{ radios({
      "name": form.decision.html_name,
      "fieldset": {
        "legend": {
          "text": decision_legend,
          "classes": "nhsuk-fieldset__legend--m",
          "isPageHeading": false
        }
      },
      "errorMessage": errorMessage,
      "hint": {
        html: decision_hint|e
      },
      "items": [
        {
          "value": "continue",
          "text": form.decision[0].choice_label
        },
        {
          "value": "dropout",
          "text": form.decision[1].choice_label
        }
      ]
    }) }}
  {% endif %}

  {{ button({
    "text": "Continue"
  }) }}

  {{csrf_input}}
  </form>

  {% endif %}
  </div>
</div>
{% endblock pageContent %}
