{% set clinic_slot = appointment.clinic_slot %}
{% set participant = appointment.participant %}

<p class="app-text-grey"><span>NHS Number: {{ participant.nhs_number }}</span></p>

<p>{{ clinic_slot.slot_time_and_clinic_date }}<span class="nhsuk-u-margin-left-3"><a href="#">Reschedule appointment</a></span></p>

<p class="nhsuk-u-margin-bottom-4"><a href="#">View participant record</a></p>
