{% extends "wizard_step.jinja" %}
{% from "components/checkboxes/macro.jinja" import checkboxes %}
{% from "components/input/macro.jinja" import input %}
{% from "components/radios/macro.jinja" import radios %}

{% set title = "Appointment cannot go ahead" %}
{% set caption = participant.full_name %}

{% block form %}
{% macro conditionalCheckboxInput(params) %}
  {% set details_field_name = params.field_name + "_details" %}
  {% set input_params = {
    "label": {
      "text": "Provide details"
    },
    "id": details_field_name,
    "name": details_field_name,
    "value": params.details_value
  } %}
  {% if form[details_field_name].errors %}
    {% set error_params = {
      "errorMessage": {
        "text": form[details_field_name].errors | first
      }
    } %}
    {% set input_params = dict(input_params, **error_params) %}
  {% endif %}

  {{ input(input_params) }}
{% endmacro %}

{% set checkboxItems = [] %}

{% for field_name, label in form.stopped_reasons.field.choices %}
    {% do checkboxItems.append({
      "text": label,
      "value": field_name,
      "checked": field_name in (form.stopped_reasons.value() or []),
      "conditional": {
        "html": conditionalCheckboxInput({
          "field_name": field_name,
          "details_value": form[field_name + "_details"].value()
        })
      }
    }) %}
{% endfor %}

{% set checkbox_params = {
  "idPrefix": "stopped_reasons",
  "name": "stopped_reasons",
  "fieldset": {
    "legend": {
      "text": "Why has this appointment been stopped?",
      "classes": "nhsuk-fieldset__legend--m",
      "isPageHeading": False
    }
  },
  "hint": {
    "text": "Select all that apply"
  },
  "items": checkboxItems,
} %}
{% if form.stopped_reasons.errors %}
  {% set error_params = {
    "errorMessage": {
      "text": form.stopped_reasons.errors | first
    }
  } %}
  {% set checkbox_params = dict(checkbox_params, **error_params) %}
{% endif %}

{{ checkboxes(checkbox_params) }}

{% set decision_legend = "Does the appointment need to be rescheduled?" %}

{% endblock form %}