{% extends "wizard_step.jinja" %}
{% from 'components/checkboxes/macro.jinja' import checkboxes %}
{% from 'components/input/macro.jinja' import input %}
{% from 'components/radios/macro.jinja' import radios %}

{% block form %}
<h1 class="nhsuk-heading-l">
  <span class="nhsuk-caption-l">
    {{ "TBD" }}
  </span>
  Appointment cannot go ahead
</h1>

{% macro conditionalCheckboxInput(params) %}
  {{ input({
    'label': {
      'text': "Provide details"
    },
    'id': params.field_name + "_details",
    'name': params.field_name + "_details",
    'value': params.details_value
  }) }}
{% endmacro %}

{% set checkboxItems = [] %}

{% for field_name, field in form.get_reason_fields() %}
    {% do checkboxItems.append({
      'text': field.label,
      'value': field_name,
      'checked': form[field_name].value(),
      'conditional': {
        'html': conditionalCheckboxInput({
          'field_name': field_name,
          'details_value': form[field_name + '_details'].value()
        })
      }
    }) %}
{% endfor %}

{{ checkboxes({
  'idPrefix': 'stopped_reasons',
  'name': 'stopped_reasons',
  'fieldset': {
    'legend': {
      'text': 'Why has this appointment been stopped?',
      'classes': 'nhsuk-fieldset__legend--m',
      'isPageHeading': False
    }
  },
  'hint': {
    'text': 'Select all that apply'
  },
  'items': checkboxItems,
}) }}

{% set decision_legend = "Does the appointment need to be rescheduled?" %}
{% set decision_hint = "Select whether the participant needs to be invited for another appointment" %}

{% endblock form %}