{% extends "wizard_step.jinja" %}
{% from "checkboxes/macro.jinja" import checkboxes %}
{% from "input/macro.jinja" import input %}
{% from "radios/macro.jinja" import radios %}

{% block form %}
{% macro conditionalCheckboxInput(params) %}
  {% set details_field_name = params.field_name + "_details" %}
  {% set details_field_id = params.details_field.auto_id %}
  {% set details_field_value = params.details_field.value() %}
  {% set input_params = {
    "label": {
      "text": "Provide details"
    },
    "id": details_field_id,
    "name": details_field_name,
    "value": details_field_value
  } %}
  {% if params.details_field.errors %}
    {% set error_params = {
      "errorMessage": {
        "text": form[details_field_name].errors | first
      }
    } %}
    {% set input_params = dict(input_params, **error_params) %}
  {% endif %}

  {{ input(input_params) }}
{% endmacro %}

{% set checkboxItems = [] %}

{% for field_name, label in form.stopped_reasons.field.choices %}
    {% do checkboxItems.append({
      "text": label,
      "id": form.stopped_reasons.auto_id if loop.first,
      "value": field_name,
      "checked": field_name in (form.stopped_reasons.value() or []),
      "conditional": {
        "html": conditionalCheckboxInput({
          "field_name": field_name,
          "details_field": form[field_name + "_details"],
        })
      }
    }) %}
{% endfor %}

{% set checkbox_params = {
  "idPrefix": form.stopped_reasons.auto_id,
  "name": form.stopped_reasons.html_name,
  "fieldset": {
    "legend": {
      "text": "Why has this appointment been stopped?",
      "classes": "nhsuk-fieldset__legend--m",
      "isPageHeading": False
    }
  },
  "hint": {
    "text": "Select all that apply"
  },
  "items": checkboxItems,
} %}
{% if form.stopped_reasons.errors %}
  {% set error_params = {
    "errorMessage": {
      "text": form.stopped_reasons.errors | first
    }
  } %}
  {% set checkbox_params = dict(checkbox_params, **error_params) %}
{% endif %}

{{ checkboxes(checkbox_params) }}

{% set decision_legend = "Does the appointment need to be rescheduled?" %}

{% endblock form %}
