{% extends "wizard_step.jinja" %}

{% block stepContent %}
  <p>Ask them about any:</p>
  <ul class="nhsuk-list nhsuk-list--bullet">
    <li>history of breast cancer</li>
    <li>lump examinations or biopsies</li>
    <li>other procedures in the breast or chest area</li>
    <li>recent breast changes or symptoms</li>
    <li>breast features (such as moles) that may appear on an x-ray</li>
    <li>relevant medication (such as HRT)</li>
  </ul>
{% endblock %}
