{% extends "wizard_step.jinja" %}
{% from "card/macro.jinja" import card %}
{% from "inset-text/macro.jinja" import insetText %}
{% from "summary-list/macro.jinja" import summaryList %}
{% block stepContent %}

{% set symptoms_card_html %}
    {% set has_symptoms = false %}

    {% set insetHtml %}
    <p>No symptoms have been recorded for this participant.</p>
    {% endset %}
    {{ insetText({
      "html": insetHtml,
      "classes": "nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-4"
    }) }}

    <p class="nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">
      <a href="#" class="nhsuk-link">{{ "Add another symptom" if has_symptoms else "Add a symptom" }}</a>
    </p>
{% endset %}
{{ card({
  "heading": "Recent breast changes or symptoms",
  "headingLevel": "2",
  "descriptionHtml": symptoms_card_html
}) }}

{% set medical_history_card_html %}
  {% set breast_cancer_history_link %}
  <a class="nhsuk-link" href="#">Enter breast cancer history</a>
  {% endset %}
  {% set non_cancerous_lump_diagnosis_link %}
  <a class="nhsuk-link" href="#">Enter non-cancerous lump diagnosis</a>
  {% endset %}
  {% set chest_procedures_link %}
  <a class="nhsuk-link" href="#">Enter other breast or chest procedures</a>
  {% endset %}
  {{ summaryList({
    "rows": [
     {
       "key": {
         "text": "Breast cancer history"
       },
       "value": {
         "html": breast_cancer_history_link
       },
       "actions": {
          "items": []
       }
     },
     {
       "key": {
         "text": "Non-cancerous lump diagnosis"
       },
       "value": {
         "html": non_cancerous_lump_diagnosis_link
       },
       "actions": {
          "items": []
       }
     },
     {
       "key": {
         "text": "Other breast or chest procedures"
       },
       "value": {
         "html": chest_procedures_link
       },
       "actions": {
          "items": []
       }
     }
    ]
  }) }}
  {% endset %}
{{ card({
  "heading": "Medical history",
  "headingLevel": "2",
  "descriptionHtml": medical_history_card_html
}) }}

{% set breast_features_card_html %}
    {% set breast_features_recorded = false %}

    {% set insetHtml %}
    <p>No breast features have been recorded for this participant. Add any scars, moles, warts or lumps observed or reported during the appointment.</p>
    {% endset %}
    {{ insetText({
      "html": insetHtml,
      "classes": "nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-4"
    }) }}

    <p class="nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">
      <a href="#" class="nhsuk-link">{{ "Add another feature" if breast_features_recorded else "Add a feature" }}</a>
    </p>
{% endset %}
{{ card({
  "heading": "Breast features",
  "headingLevel": "2",
  "descriptionHtml": breast_features_card_html
}) }}

{% set other_information_card_html %}
  {% set hrt_link %}
  <a class="nhsuk-link" href="#">Enter hormone replacement therapy (HRT)</a>
  {% endset %}
  {% set pregnancy_and_breastfeeding_link %}
  <a class="nhsuk-link" href="#">Enter pregnancy and breastfeeding</a>
  {% endset %}
{% endset %}
{{ card({
  "heading": "Other information",
  "headingLevel": "2",
  "descriptionHtml": other_information_card_html
}) }}

{% endblock %}