{% extends "wizard_step.jinja" %}

{% set title = "Screening appointment" %}
{% set decision_legend = "Can the appointment go ahead?" %}
{% set decision_hint = "Before you proceed, check the participant’s identity and confirm that their last mammogram was more than 6 months ago." %}
