/* FIXME: taken from prototype */
$govuk-spacing1: 5px;
$govuk-spacing2: 10px;
$govuk-spacing3: 15px;
$govuk-spacing4: 20px;


.app-secondary-navigation {
  @include nhsuk-responsive-margin(4, "bottom");
}

.app-secondary-navigation__list-item {
  margin: 0;
}

.app-secondary-navigation__list-item--current {
  border-bottom-width: $govuk-spacing1;
}

.app-secondary-navigation__link {
  padding-left: $govuk-spacing3;
  padding-right: $govuk-spacing3;
}

// --------


.app-secondary-navigation {
  @include nhsuk-font($size: 19);
}

.app-secondary-navigation__link {
  @include nhsuk-link-style-default;
  @include nhsuk-link-style-no-visited-state;

  text-decoration: none;

  // Extend the touch area of the link to the list
  &::after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.app-secondary-navigation__list {
  @include clearfix;

  // The list uses box-shadow rather than a border to set a 1px
  // grey line at the bottom, so that border from the current
  // item appears on top of the grey line.
  box-shadow: inset 0 -1px 0 $nhsuk-border-color;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.app-secondary-navigation__list-item {
  box-sizing: border-box;
  display: block;
  float: left;
  margin-right: $govuk-spacing4;
  padding-bottom: $govuk-spacing2;
  padding-top: $govuk-spacing2;
  position: relative;

  // More generous padding beneath items on wider screens
  @include mq($from: tablet) {
    padding-bottom: $govuk-spacing3;
  }
}

// The last item of the list doesn’t need any spacing to its right.
// Removing this prevents the item from wrapping to the next line
// unnecessarily.
.app-secondary-navigation__list-item:last-child {
  margin-right: 0;
}

.app-secondary-navigation__list-item--current {
  border-bottom: $nhsuk-border-width solid $color_nhsuk-blue;
  padding-bottom: $govuk-spacing1;

  // More generous padding beneath items on wider screens
  @include mq($from: tablet) {
    padding-bottom: $govuk-spacing2;
  }
}

.app-secondary-navigation__list-item--current .app-secondary-navigation__link:link,
.app-secondary-navigation__list-item--current .app-secondary-navigation__link:visited {
  color: $nhsuk-text-color;
}
